.DS_Store
.env
.venv/
__pycache__/
.pytest_cache/
*.pyc
frontend/node_modules/
frontend/dist/

data/db/*.db
data/thumbnails/*
data/cache/*

!data/db/.gitkeep
!data/thumbnails/.gitkeep
!data/cache/.gitkeep
